{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
	<p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
	<p>{{ 'Real Name'|trans }}: <a href="{{ path('cs585_grader_account_realname') }}">{{ user.realName }}</a></p>
	{% if is_granted( 'ROLE_OAUTH_USER' ) %}
		<p>Repository: <a href="{{ path('cs585_grader_account_reposelector') }}">{{ user.repository ?: "None"|trans }}</a></p>
	{% endif %}
{% endblock fos_user_content %}
