{% extends 'FrameworkBundle:Form:widget_attributes.html.php' %}

{% block widget_attributes %}
	id="{{ id }}" name="{{ full_name }}" class="form-control"
	{% if read_only %}readonly="readonly"{% endif %}
	{% if disabled %}disabled="disabled"{% endif %}
	{% if required %}required="required"{% endif %}
{% endblock %}

{% block button_attributes %}
	id="{{ id }}" name="{{ full_name }}" class="btn btn-default"
	{% if disabled %}disabled="disabled"{% endif %}
{% endblock %}

{% block form_row %}
	<div class="form-group">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock %}
