<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %} | CS-585 Grader</title>

	{% stylesheets '@bootstrap_css' %}
	<link rel="stylesheet" href="{{ asset_url }}"/>
	{% endstylesheets %}
</head>
<body>

<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path( 'cs585_grader_submission_homepage' ) }}">CS-585</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="{% block nav_page_home %}{% endblock %}">
					<a href="{{ path( 'cs585_grader_submission_homepage' ) }}">Assignments</a></li>

				{% if is_granted( 'ROLE_ADMIN' ) %}
					<li class="dropdown {% block nav_page_admin %}{% endblock %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="{% block nav_page_admin_assignments %}{% endblock %}">
								<a href="{{ path('cs585_grader_submission_admin') }}">Assignments</a></li>
							<li class="{% block nav_page_admin_users %}{% endblock %}">
								<a href="{{ path('cs585_grader_account_userlist') }}">Users</a></li>

							{% if is_granted( 'ROLE_SUPER_ADMIN' ) %}
								<li class="{% block nav_page_admin_jobqueue %}{% endblock %}">
									<a href="{{ path( 'jms_jobs_overview' ) }}">Job Queue</a></li>
							{% endif %}
						</ul>
					</li>
				{% endif %}

				{% if is_granted( 'ROLE_USER' ) %}
					<li class="{% block nav_page_admin_profile %}{% endblock %}">
						<a href="{{ path('fos_user_profile_show') }}">
							{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

<div class="container">
	{% if not is_granted( 'ROLE_ADMIN' ) and not app.user.repository %}
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span>&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<strong>Danger</strong> You have not yet chosen a repository. You should
			<a class="alert-link" href="{{ path('cs585_grader_account_reposelector') }}">do so now</a>.
		</div>
	{% endif %}
	{% if not app.user.realName %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span>&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<strong>Warning</strong> You have not yet set your real name. You should
			<a class="alert-link" href="{{ path('cs585_grader_account_realname') }}">do so now</a>.
		</div>
	{% endif %}

	{% for type, messages in app.session.flashBag.all %}
		{% for message in messages %}
			<div class="{{ type }}">
				{{ message|trans({}, 'FOSUserBundle') }}
			</div>
		{% endfor %}
	{% endfor %}

	{% block content %}
	{% endblock %}
</div>

{% javascripts '@jquery' '@bootstrap_js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}
{% endblock %}
</body>
</html>
