{% extends '::layout.html.twig' %}

{% block nav_page_home %}active{% endblock %}

{% block javascripts %}
	{% javascripts '@moment_js'
	'@CS585GraderSubmissionBundle/Resources/public/js/countdown.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">Assignments</div>
		<div class="panel-body">
			<strong>Reminder:</strong> Assignments will be automatically collected
			from the repository selected in your profile. You <em>must</em> make a
			tag with the same name as the assignment.
		</div>

		<table class="table">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Due Date</th>
				<th>Time Remaining</th>
				<th>Grade</th>
				<th>Grade Reason</th>
				{% if is_granted( 'ROLE_OAUTH_USER' ) %}
					<th>Manual Submit</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for assignment in assignments %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ assignment.name }}</td>
					<td>{{ assignment.dueDate|date('Y-m-d H:i:s') }}</td>
					<td class="cs585-countdown" data-duedate="{{ assignment.dueDate|date('c') }}"></td>
					<td>
						{% if assignment.submissions|length > 0 and assignment.submissions[0].grade != null %}
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									{{ assignment.submissions[0].grade }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>{{ assignment.submissions[0].gradeExtendedReason }}</li>
								</ul>
							</div>
						{% else %}
							{{ 'Not Graded'|trans }}
						{% endif %}
					</td>
					<td>
						{% if assignment.submissions|length > 0 %}
							{{ assignment.submissions[0].gradeReason|trans }}
						{% endif %}
					</td>
					{% if not is_granted( 'ROLE_OAUTH_USER' ) and assignment.submissions|length == 0 %}
						<td>
							<a class="btn btn-primary" href="#">Manual Submit</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
