{% extends '::layout.html.twig' %}

{% block title %}List Grades{% endblock %}

{% block nav_page_admin %}active{% endblock %}
{% block nav_page_admin_assignments %}active{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">{{ assignment.name }}</div>

		<table class="table table-hover">
			<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Real Name</th>
				<th>Repository</th>
				<th>Grade</th>
				<th>Reason</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for grade in assignment.submissions %}
				{% set class = '' %}
				{% if grade.grade is null %}
					{% set class = '' %}
				{% elseif grade.grade == 0 %}
					{% set class = 'danger' %}
				{% else %}
					{% set class = 'success' %}
				{% endif %}

				<tr class="{{ class }}">
					<td>{{ loop.index }}</td>
					<td>{{ grade.user.username }}</td>
					<td>{{ grade.user.realName }}</td>
					<td>{{ grade.user.repository }}</td>
					<td>
						{% if assignment.submissions|length > 0 and assignment.submissions[0].grade != null %}
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
									{{ assignment.submissions[0].grade }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li>{{ assignment.submissions[0].gradeExtendedReason|nl2br }}</li>
								</ul>
							</div>
						{% else %}
							{{ 'Not Graded'|trans }}
						{% endif %}
					</td>
					<td>{{ grade.gradeReason }}</td>
					<td>
						<a class="btn btn-primary"
						   href="{{ path( 'cs585_grader_submission_grade_edit',
						                  { 'assignment': assignment.name, 'user': grade.user.id } ) }}">
							{{ 'Edit'|trans }}
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
