{% extends '::layout.html.twig' %}

{% block nav_page_admin %}active{% endblock %}

{% block content %}
	<a href="{{ path( 'cs587_grader_submission_edit' ) }}">New</a>

	<ul>
		{% for assignment in assignments %}
			<li>
				<a href="{{ path( 'cs587_grader_submission_edit', { 'name': assignment.name } ) }}">
					{{ assignment.name }}
				</a>
				({{ assignment.description }})
				&mdash; {{ assignment.dueDate|date('Y-m-d') }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
